<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h2>Книги</h2>
    <span>
        <button class="btn btn-success"
                onclick="onClickShowModalCreateBook()">
            Добавить книгу
        </button>
    </span>
    <table class="table">
        <thead>
        <tr>
            <th>ISN</th>
            <td>Название</td>
            <td>Автор</td>
            <td>Кем взята</td>
            <td>Удалить</td>
        </tr>
        </thead>
        <tbody id="books">
        </tbody>
    </table>
    <button id="show-more"
            class="btn btn-primary"
            onclick="getMoreBooks()">
        Показать больше
    </button>
</div>
<div id="modal-window" class="modal fade">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div id="modal-body" class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="isn"
                               class="control-label">
                            ISN
                        </label>
                        <input id="isn"
                               class="form-control"
                               placeholder="ISN"/>
                    </div>
                    <div class="form-group">
                        <label for="name"
                               class="control-label">
                            Название
                        </label>
                        <input id="name"
                               class="form-control"
                               placeholder="Название"/>
                    </div>
                    <div class="form-group">
                        <label for="author"
                               class="control-label">
                            Автор
                        </label>
                        <input id="author"
                               class="form-control"
                               placeholder="Автор"/>
                    </div>
                </form>
            </div>
            <div id="modal-footer" class="modal-footer">
                <button id="modal-action"
                        class="btn btn-primary">
                    Сохранить информацию
                </button>
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
<script src="./js/common.js"></script>
<script src="./js/api-book.js"></script>
<script src="./js/books.js"></script>
</body>
</html>